input[type="radio"] {
  display: none;
}

label {
  width: 300px;
  color: white;
  display: block;
  padding: 10px;
  background-color: #2d2d2d;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #2d2d2d;
}

label:hover {
  background-color: #878787;
}

label + div {
  width: 300px;
  display: none;
  border: 1px solid #ccc;
}

input[type="radio"]:checked + label + div {
  display: block;
  padding: 10px;
}
